<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Basic Calculation</title>
    </h:head>
    <h:body>
        <div>
            <div class="form">
                <h:outputStylesheet library="css" name="style.css"/>
                <f:view>
                    <h:form>
                        <h:link value="Advanced Calculation" outcome="advanced"></h:link> 
                        <h:panelGrid columns="2">
                            <h:outputLabel value="First Number:" for="leftOperand" />
                            <h:inputText id="leftOperand" value="#{user.leftOperand}" title="leftOperand" />
                            <h:outputLabel value="Operator" for="operator" />
                            <h:inputText id="operator" value="#{user.operator}" title="Operator" />
                            <h:outputLabel value="Second Number:" for="rightOperand" />
                            <h:inputText id="rightOperand" value="#{user.rightOperand}"/>
                            <h:commandButton value="Calculate" action="#{user.calculate}" />
                            <h:messages/>
                        </h:panelGrid>
                    </h:form>
                </f:view>
            </div>
        </div>
    </h:body>
</html>