<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Login</title>
    </h:head>
    <h:body>
        <div>
            <div class="form">
                <h:outputStylesheet library="css" name="style.css"/>
                <h:form>
                    User Name:     <h:inputText value="#{user.userName}"/><br/>
                    Password:  <h:inputSecret value="#{user.password}"/><br/>
                    <h:commandButton value="Submit" action="#{user.authenticate()}" />
                    <h:messages/>
                </h:form>
            </div>
        </div>
    </h:body>
</html>