<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
	<title>Research Results</title>
</h:head>
<h:body>

	<f:view>
		<h:outputStylesheet library="css" name="table.css" />
		<h:form>
			<h:link value="Return to Search Calculations" outcome="search"></h:link>
			<h1>
				<h:outputText value="Search Results" />
			</h1>
			<h:dataTable value="#{user.searchedExpressions}"
				styleClass="mainTable" var="item" border="1" cellpadding="2"
				cellspacing="2">
				<h:column>
					<f:facet name="header">
						<h:outputText value="User Name" />
					</f:facet>
					<h:outputText value="#{item.userName}" />
				</h:column>

				<h:column>
					<f:facet name="header">
						<h:outputText value="Expression" />
					</f:facet>
					<h:outputText value="#{item.expression}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Result" />
					</f:facet>
					<h:outputText value="#{item.result}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Type" />
					</f:facet>
					<h:outputText value="#{item.exprType}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Date" />
					</f:facet>
					<h:outputText value="#{item.logTimestamp}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss z" />
					</h:outputText>
				</h:column>
			</h:dataTable>
		</h:form>
	</f:view>

</h:body>
</html>