<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Administrator</title>
    </h:head>
    <h:body>
       
        <f:view>
            <h:form>
            	<h:link value="Admin View" outcome="admin"></h:link>
                 <div class="form">
               <h:outputStylesheet library="css" name="table.css"/>
                <h1><h:outputText value="Search Calculations"/></h1>
                <h:outputLabel for="username" value="User Name"/>
               	<h:inputText id="username" value="#{user.searchUserName}" title="User Name" />
               	<br/>
               	<h:outputLabel for="fromDate" value="From Date (DD/MM/YYYY)"/>
               	<h:inputText id="fromDate" value="#{user.fromDate}" title="DD/MM/YYYY (e.g. 23/11/2020)" />
               	<br/>
               	<h:outputLabel for="toDate" value="To Date (DD/MM/YYYY)"/>
               	<h:inputText id="toDate" value="#{user.toDate}" title="DD/MM/YYYY (e.g. 23/11/2020)" />
               	<br/>
               	<h:commandButton value="Search" action="#{user.search()}" style="background: blue" />
               </div> 
            </h:form>
        </f:view>

    </h:body>
</html>